@model ChangeAccountViewModel

@{
    ViewData["Title"] = "Change Account";
}
<br>

<h1>Change Account Settings</h1>

<hr />
<p class="text-danger">@ViewBag.BirthdayErrorMessage</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeAccount" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPhoneNumber" class="control-label"></label>
                <input asp-for="NewPhoneNumber" class="form-control" />
                <span asp-validation-for="NewPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewBirthday" class="control-label"></label>
                <input asp-for="NewBirthday" class="form-control" />
                <span asp-validation-for="NewBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewAddress" class="control-label"></label>
                <input asp-for="NewAddress" class="form-control" />
                <span asp-validation-for="NewAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewCity" class="control-label"></label>
                <input asp-for="NewCity" class="form-control" />
                <span asp-validation-for="NewCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewState" class="control-label"></label>
                <input asp-for="NewState" class="form-control" />
                <span asp-validation-for="NewState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewZip" class="control-label"></label>
                <input asp-for="NewZip" class="form-control" />
                <span asp-validation-for="NewZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Account Settings" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>