<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4a0d57b7-5962-4c63-9392-0eef43cc590e/resourceGroups/fa20Homework/providers/Microsoft.Web/sites/fa20team19finalproject</ResourceId>
    <ResourceGroup>fa20Homework</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://fa20team19finalproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>fa20team19finalproject.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fa20team19finalproject</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fa20team19finalproject</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>