<h2>Seed Data Here</h2>
<a asp-action="SeedAllGenres" class="btn btn-danger">Seed Genres</a>
<a asp-action="SeedAllMovies" class="btn btn-warning">Seed Movies</a>
<a asp-action="SeedAllShowings" class="btn btn-warning">Seed Showings</a>
<a asp-action="SeedAllPrices" class="btn btn-warning">Seed Prices</a>