<br>
<h1>About Team 19</h1>
<br />
<div class="row">
    <div class="col">
        <div class="hovereffect">
            <img src="~/images/Derek.JPG" alt="Derek" class="img-responsive"> <!--edit image-->
            <div class="overlay">
                <h2 class="font-weight-bold mb-0 text-white">Derek Wu</h2> 
                <h3 class="font-weight-bold text-white mb3">derekwu35@gmail.com</h3>
                <p>
                    Derek is a Canfield Business Honors junior at the University of Texas studying Management Information Systems, Computer Science, and Philosophy. As an experienced developer and a customer-focused worker, his passion lies at the intersection between business, technology, and design.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="hovereffect">
            <img src="~/images/Arushi.jpg" alt="Arushi" class="img-responsive"> <!--edit image-->
            <div class="overlay">
                <h2 class="font-weight-bold mb-0 text-white">Arushi Mathavan</h2>
                <h3 class="font-weight-bold text-white mb3">arushi16math@gmail.com</h3>
                <p>
                    Arushi is an undergraduate student studying MIS and Business Honors at the McCombs School of Business. She is passionate about entrepreneurship, social impact, and exploring the applications of new technologies in helping different communities. 
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="hovereffect">
            <img src="~/images/Corey.jpg" alt="Corey" class="img-responsive"> <!--edit image-->
            <div class="overlay">
                <h2 class="font-weight-bold mb-0 text-white">Corey Li</h2>
                <h3 class="font-weight-bold text-white mb3">coreyli@utexas.edu</h3>
                <p>
                    Corey is a Junior at the University of Texas at Austin, majoring in Management Information Systems with a Computer Science and Design Strategies Certificate. He is passionate about the intersection of business, technology, and design and its potential to create positive and immediate social impact to issues in the environment and society. 
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="hovereffect">
            <img src="~/images/Michelle.jpg" alt="Michelle" class="img-responsive"> <!--edit image-->
            <div class="overlay">
                <h2 class="font-weight-bold mb-0 text-white">Michelle Xia</h2>
                <h3 class="font-weight-bold text-white mb3">michellexia@utexas.edu</h3>
                <p>
                    Michelle is a senior at UT Austin pursuing a degree in Management Information Systems and an Elements of Computing certificate. She is currently doing research on image-text classification/analysis and computer vision with TensorFlow to enhance recommender systems for a Yelp dataset. 
                </p>
            </div>
        </div>
    </div>
</div>

