@{
    ViewData["Title"] = "View Reports";
}
<br>

<h1>View Reports</h1>

<a asp-action="Totals" asp-controller="Report" class="btn btn-primary">Seats and Revenue Total Report</a>
<a asp-action="Customers" asp-controller="Report" class="btn btn-danger">Customer Report</a>
<a asp-action="PopcornTickets" asp-controller="Report" class="btn btn-dark">Popcorn Tickets Report</a>
<br />
<img class="pt-4 mx-auto graphic" src="~/images/svg/Reports.svg" />

