@model Final_Project.Models.ReportViewModel

@{
    ViewData["Title"] = "ReportTotals";
}
<br>

<h1>Total Seats and Revenue Report</h1>

<h4>Total Seats Sold</h4>
<p>@Model.SeatsSold</p>
<h4>Total Revenue</h4>
<p>$@Model.TotalRevenue</p>
<br />

<div>
    <a asp-action="Totals">Back to Filter</a>
</div>